<html>
  <head>
    <title>My web page</title>
  </head>
  <body>
    <form action="data" method="POST">
      user: <input type="text" name="user" value=""><br/>
      password: <input type="password" name="password" value=""><br/>
      <input type="submit" value="send">
    </form>
    <% if @val then %>
      <% @val.each do |v| %>
        <%= v %><br />
      <% end %>
    <% end %>
    <form action="outside" method="GET">
      <input type="submit" value="get text from internet">
    </form>
    <% if @out_val then %>
      <%= @out_val %>
    <% end %>
  </body>
</html>
